  <TR BGCOLOR='$TMPL[tdcolor]'>
    <TD COLSPAN='2' BACKGROUND='$_SERVER[_URI]/templates/$TMPL[config]/images/nn.gif'><IMG
	SRC='$_SERVER[_URI]/templates/$TMPL[config]/images/n.gif'
	width='1' height='1'></TD>
  </TR>
  <TR BGCOLOR='$TMPL[tdcolor]'>
    <TD BGCOLOR='$TMPL[tdcolor]' align='right' nowrap>&nbsp;$STR</TD>
    <TD>$VALUES&nbsp;</TD>
  </TR>
