  <TR>
    <TD COLSPAN='4' BACKGROUND='$_SERVER[_URI]/templates/$TMPL[config]/images/nn.gif'><IMG
	SRC='$_SERVER[_URI]/templates/$TMPL[config]/images/n.gif'
	width='1' height='1'></TD>
  </TR>
  <TR BGCOLOR='$TMPL[tdcolor]'>
    <TD NOWRAP>$MODEL</TD>
    <TD ALIGN='right' NOWRAP>$BUFFER&nbsp;</TD>
    <TD ALIGN='center'>$SIZE</TD>
    <TD>$PART</TD>   
  </TR>
