  <TR>
    <TD COLSPAN='10' BACKGROUND='$_SERVER[_URI]/templates/$TMPL[config]/images/nn.gif'><IMG
	SRC='$_SERVER[_URI]/templates/$TMPL[config]/images/n.gif'
	width='1' height='1'></TD>
  </TR>
  <TR BGCOLOR='$TMPL[tdcolor]'>
    <TD ALIGN='right' NOWRAP>$IFACE</TD>
    <TD ALIGN='right' NOWRAP>$R_SIZE</TD>   
    <TD ALIGN='right' NOWRAP>$R_PACKETS</TD>
    <TD ALIGN='right' NOWRAP>$R_ERRORS</TD>   
    <TD ALIGN='right' NOWRAP>$R_DROPS</TD>
    <TD ALIGN='right' NOWRAP>$T_SIZE</TD>
    <TD ALIGN='right' NOWRAP>$T_PACKETS</TD>
    <TD ALIGN='right' NOWRAP>$T_ERRORS</TD> 
    <TD ALIGN='right' NOWRAP>$T_DROPS</TD>
    <TD ALIGN='right' NOWRAP>$COLLS</TD> 
  </TR>

