<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<HTML>
<HEAD>
  <META HTTP-EQUIV='Content-Type' content='text/html; charset=utf-8'>
  <TITLE>$TMPL[title]</TITLE>

  <STYLE TYPE='text/css'>
    <!--
	A:link    {color:#FFFFCC;text-decoration:none;}
	A:visited {color:#D1D8EF;text-decoration:underline;}
	A:active  {color:#EEF5F9;text-decoration:none;}
	A:hover  {color:#FFCC66;text-decoration:underline;}
	body,td,div,center,pre,blockquote {font-size:9pt; font-family:굴림; color:#F8FAFC; line-height:140%;}
    -->
  </STYLE>

</HEAD>

<BODY BACKGROUND='$_SERVER[_URI]/templates/$TMPL[config]/images/bgimg.gif' link='#FFFFCC' vlink='#D1D8EF' alink='#EEF5F9'
	text='#F8FAFC' marginheight='0' marginwidth='0' topmargin='0' leftmargin='0'>

<DIV ALIGN='left'>
&nbsp;

<TABLE BORDER='0' cellspacing='0' cellpadding='0' width='$TMPL[width]'>
<TR>
    <TD WIDTH='122'>

    <!-- left menu -->
    <!-- /left menu -->

    <IMG src='$_SERVER[_URI]/templates/$TMPL[config]/images/n.gif' width='122' height='1'></TD>
    <TD ALIGN='left'>
    <!------- 큰 테이블 -------------->

