/* CSS Document */

body,table,tr,td,select,input,div,form,textarea {font-family:굴림; font-size:9pt; color:#505050; line-height:145%}


img {border:0} 

a:link { color: #666666; font-family: 굴림; font-size: 9pt; text-decoration: none }
a:active { color: #666666; font-family: 굴림; font-size: 9pt; text-decoration: none }
a:visited { color: #666666; font-family: 굴림; font-size: 9pt; text-decoration: none }
a:hover { color: #000000; font-family: 굴림; font-size: 9pt; text-decoration: none }


body { scrollbar-3dlight-color:#F8F8EA;
	   scrollbar-arrow-color:#939393;
	   scrollbar-track-color:#F4F4F4;
	   scrollbar-darkshadow-color:#F8F8EA;
	   scrollbar-face-color:#EDEDED;
	   scrollbar-highlight-color:#FAFAFA;
	   scrollbar-shadow-color:#BDBDBD	
 }

.box {
	height:100;
	width:329;
	overflow:auto;
	padding:0px;
	background-color: #F8F8EA;
}

.a { background-color: #F8F8EA; 
	  font-family: 돋움; 
	  font-size: 9pt; 
	  height: 19px
	   }
.b { border: 1px CCCCCC solid;
	 background-color: #F7F7F7;
	 font-family: "굴림";
	 font-size: 12px;
	 line-height: 18px;
	 color: #333333; }
.black { background-color: #F8F8EA;  
		   font-family: 돋움; font-size: 
		   9pt; font-color: #000000; 
		   height: 30px; 
		   }
 .input {background-color: #F8F8EA;  font-family: 돋움; font-size: 9pt;  border-style:solid;border-width:1px;border-color:CCCCCC E8E8E8 E8E8E8 CCCCCC;color:333333;font-size:9pt;background-color:ffffff;color:333333;}
  .input2{background-color: #F8F8EA;  font-family: 돋움; font-size: 9pt;  border-style:solid;border-width:1px;border-color:CCCCCC E8E8E8 E8E8E8 CCCCCC;color:333333;font-size:9pt;background-color:f0f0f0;color:333333;}
