  <TR BGCOLOR='$TMPL[tdcolor]'>
    <TD NOWRAP>$MODEL</TD>
    <TD ALIGN='center'>$ID</TD>  
    <TD ALIGN='right'>&nbsp;$SYNC</TD>
    <TD ALIGN='center'>$SIZE</TD>
    <TD>$PART&nbsp;</TD>
  </TR>

