
<BR>
<DIV ALIGN='RIGHT'><I><FONT SIZE='2'>page parsing time : $TMPL[microtime] seconds</FONT></I></DIV>

<!--------------------- Html Footer -------------------------------------->
<TABLE BORDER='0' cellspacing='0' cellpadding='0' width='$TMPL[width]'>
  <TR><TD ALIGN='CENTER'>
  <HR SIZE='1' noshade width='100%'>
  <A HREF='http://www.linuxchannel.net' target='_blank'><B>
  <FONT SIZE='2'>Copyright (c) 1997-$TMPL[year], linuxchannel.net</FONT></B></A>
  </TD></TR>
</TABLE>


<!-------------- 큰 테이블 끝 --------------->
</TD></TR>
</TABLE>
</DIV>

&nbsp;
</BODY>
</HTML>
